* {
  font-family: "Lato", sans-serif;
}

body {
  background-color: #a7d2cb;
}

header {
  color: #1c6758;
  font-weight: bolder;
  text-align: center;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  padding: 15px;
}

h1 {
  text-align: center;
}

article {
  width: 600px;
  margin: auto;
}

form {
  border: 1px solid #1c6758;
  margin: 40px;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.form-group {
  padding: 10px;
  margin-left: 20px;
}

.label {
  text-transform: uppercase;
  font-weight: bold;
  display: block;
  margin-bottom: 10px;
  background-color: white;
}
.form-input {
  border: 1px solid #1c6758;
  padding: 12px 20px;
  border-radius: 2px;
  width: 400px;
  background-color: rgba(128, 128, 128, 0.1);
}

.form-input:focus {
  outline: none !important;
  border: 2px solid #1c6758;
}

.form-button {
  padding: 10px 15px;
  border: none;
  color: white;
  font-size: 15px;
  font-weight: 700;
  cursor: pointer;
  margin: 15px 0px 15px 30px;
  width: 41%;
  display: inline;
}

.submit {
  background-color: #1c6758;
}

.reset {
  background-color: #3d8361;
}

.bg-white {
  background-color: white;
}

footer {
  text-align: center;
}
